@import "tailwindcss";

@theme {
    --font-hand: "Patrick Hand", cursive;
}

.letter-input:-webkit-autofill,
.letter-input:-webkit-autofill:hover,
.letter-input:-webkit-autofill:focus,
.letter-input:-webkit-autofill:active {
    -webkit-text-fill-color: #4a3428 !important;
    caret-color: #4a3428;

    -webkit-background-clip: text;
    background-clip: text;

    transition: background-color 9999s ease-in-out 0s;
}